<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kdg.healthtips"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.FitBitAuthActivity"
            android:label="@string/title_activity_fit_bit_auth" >
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StepsActivity"
            android:label="@string/title_activity_steps" >
        </activity>
        <activity
            android:name=".activity.SingleTipActivity"
            android:label="@string/title_activity_tip_detail" >
        </activity>

        <receiver android:name=".alarm.DayAlarm" />
        <receiver android:name=".alarm.WeekAlarm" />
        <receiver android:name=".alarm.MonthAlarm" />
        <receiver android:name=".alarm.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.TipDetailActivity"
            android:label="@string/title_activity_tip_detail" >
        </activity>
        <activity
            android:name=".activity.SlapenActivity"
            android:label="@string/title_activity_slapen" >
        </activity>
        <activity
            android:name=".activity.EtenActivity"
            android:label="@string/title_activity_eten" >
        </activity>
    </application>

</manifest>
